Naive bayes Classifier

In this model we are interested in finding the probability of the label given to every column and its possible values.

This theorem is based on Baye's theorem.

P(L|feature) = P(feature|L)P(L) / P(feature)

P = probability

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [5]:
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [7]:
X = dataset[['Age','EstimatedSalary']]

In [8]:
Y = dataset['Purchased']

In [9]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [10]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.33,random_state=42)

In [13]:
x_train

     Age  EstimatedSalary
258   58            95000
177   25            22000
119   41            59000
194   28            89000
229   42            80000
..   ...              ...
71    24            27000
106   26            35000
270   43           133000
348   39            77000
102   32            86000

[268 rows x 2 columns]

In [14]:
y_train

258    1
177    0
119    0
194    0
229    1
      ..
71     0
106    0
270    0
348    0
102    0
Name: Purchased, Length: 268, dtype: int64

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
model = GaussianNB()

In [17]:
model.fit(x_train,y_train)

GaussianNB()

In [18]:
y_pred = model.predict(x_test)

In [19]:
from sklearn import metrics

In [20]:
metrics.accuracy_score(y_test,y_pred)

0.8939393939393939

In [21]:
from sklearn.metrics import confusion_matrix

In [22]:
confusion_matrix(y_test,y_pred)

array([[79,  1],
       [13, 39]], dtype=int64)